<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">
      And lastly, this one.<span class="text-muted">Philosophy.</span>
    </h2>

    <p class="lead">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
      voluptatem laborum, nostrum consectetur a dignissimos tempora voluptatibus
      ducimus in blanditiis nesciunt dolor quis omnis aliquam maiores velit rem
      beatae hic!
    </p>
    <br />
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga distinctio
      vero quis maiores aut, ab eum corporis? Aperiam, necessitatibus facere
      aspernatur veritatis, maxime, at et nam beatae reprehenderit velit dolore.
    </p>
  </div>

  <div class="col-md-5">
    <img
      class="featurette-image img-responsive center-block"
      src="https://2018.vienna.wordcamp.org/files/2018/02/codefactory-vienna.png"
      alt="Generic placeholder image"
    />
  </div>
</div>
